/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYMBOL 1
#define NAV 2

//                KEY POSITIONS
// 
//          ╭────────────────────╮ ╭────────────────────╮
//          │  0   1   2   3   4   │ │  5   6   7   8   9  │
//          │ 10  11  12  13  14   │ │ 15  16  17  18  19  │
//          │ 20  21  22  23  24   │ │ 25  26  27  28  29  │
//          ╰──────────╮ 30  31   │ │ 32  33 ╭───────────╯
//                      ╰─────────╯ ╰────────╯           
// 

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <250>;
};

&mmv {
   time-to-max-speed-ms = <680>;
   acceleration-exponent=<2>;
};

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
  };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp Q         &kp D    &kp R       &kp W       &kp B         &kp J      &kp F       &kp U       &kp P    &kp SEMI
        &kp A         &kp S    &hm LALT H  &hm LGUI T  &kp G         &kp Y      &hm RGUI N  &hm RALT E  &kp O    &kp I
        &mt LSHIFT Z  &kp X    &kp M       &kp C       &kp V         &kp K      &kp L       &kp COMMA   &kp DOT  &kp SQT
                                           &kp LSHIFT  &to SYMBOL    &kp SPACE  &kp RCTRL
      >;
    };

    symbol_layer {
      bindings = <
        &kp ESC     &kp EQUAL  &kp LBRC        &kp RBRC       &kp GRAVE    &kp AMPS     &kp N4       &kp N5       &kp N6  &kp BSPC
        &kp TAB     &kp MINUS  &hm LALT LPAR   &hm LGUI RPAR  &kp QMARK    &kp N0       &hm RGUI N1  &hm RALT N2  &kp N3  &kp ENTER
        &kp TILDE   &kp BLSH   &kp LBKT        &kp RBKT       &kp UNDER    &kp AT       &kp N7       &kp N8       &kp N9  &kp CAPS
                                               &kp LSHIFT     &to NAV      &to DEFAULT  &kp RCTRL 
      >;
    };

    navigation_layer {
      bindings = <
        &bt BT_CLR    &kp C_PREV    &kp C_NEXT    &kp C_PP    &none       &kp F1       &kp F2    &kp F5   &kp F12    &none
        &bt BT_SEL 0  &kp C_VOL_DN  &kp C_VOL_UP  &none       &none       &kp LEFT     &kp DOWN  &kp UP   &kp RIGHT  &none
        &bt BT_SEL 1  &kp C_BRI_UP  &kp C_BRI_DN  &reset      &none       &none        &kp F10   &kp F11  &none      &reset
                                                  &kp LSHIFT  &none       &to DEFAULT  &kp RCTRL
      >;
    };
  };
};